In [29]:
import random
import pandas as pd
import numpy as np
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from fancyimpute import KNN, IterativeImputer, SimpleFill, SoftImpute, IterativeSVD, MatrixFactorization, NuclearNormMinimization, BiScaler

In [31]:
SEED = 1
random.seed(SEED)
np.random.seed(SEED)

## 1. Dataset
- training : TrainingWiDS2021.csv
- test : UnlabeledWiDS2021.csv
- descriptions : DataDictionaryWiDS2021.csv

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
df_tr = pd.read_csv('/content/drive/MyDrive/dataset/WiDS2021/TrainingWiDS2021.csv')
df_tr = df_tr.drop(columns=['Unnamed: 0'], inplace=False)
df_tr.shape

(130157, 180)

In [34]:
df_te = pd.read_csv('/content/drive/MyDrive/dataset/WiDS2021/UnlabeledWiDS2021.csv')
df_te = df_te.drop(columns=['Unnamed: 0'], inplace=False)
df_te.shape

(10234, 179)

### 1.1. Drop Columns with high missing ratio

- check missing ratio for each column
- compare missing ratios between training set and test set
- Decise what to drop

In [35]:
def check_missing_data(df):
    # check missing data
    missing_df = pd.DataFrame(df.isna().sum().sort_values(ascending=False)).reset_index()
    missing_df.columns = ['column_name', 'num_miss_rows']
    missing_df['miss_ratio'] = missing_df.num_miss_rows / df.shape[0]

    print(missing_df.loc[missing_df.num_miss_rows > 0])

    print(missing_df.loc[missing_df.miss_ratio > 0.5])
    return missing_df

In [36]:
tr_missing = check_missing_data(df_tr)

          column_name  num_miss_rows  miss_ratio
0    h1_bilirubin_min         119861    0.920896
1    h1_bilirubin_max         119861    0.920896
2      h1_albumin_min         119005    0.914319
3      h1_albumin_max         119005    0.914319
4      h1_lactate_max         118467    0.910185
..                ...            ...         ...
155      d1_sysbp_max            271    0.002082
156  d1_heartrate_max            262    0.002013
157  d1_heartrate_min            262    0.002013
158  icu_admit_source            240    0.001844
159            gender             66    0.000507

[160 rows x 3 columns]
         column_name  num_miss_rows  miss_ratio
0   h1_bilirubin_min         119861    0.920896
1   h1_bilirubin_max         119861    0.920896
2     h1_albumin_min         119005    0.914319
3     h1_albumin_max         119005    0.914319
4     h1_lactate_max         118467    0.910185
..               ...            ...         ...
68  d1_bilirubin_max          76735    0.589557
69    h1_glucose_max          75073    0.576788
70    h1_glucose_min          75073    0.576788
71    d1_albumin_min          71406    0.548614
72    d1_albumin_max          71406    0.548614

[73 rows x 3 columns]

In [37]:
te_missing = check_missing_data(df_te)

          column_name  num_miss_rows  miss_ratio
0      h1_lactate_max           9421    0.920559
1      h1_lactate_min           9421    0.920559
2    h1_bilirubin_max           9407    0.919191
3    h1_bilirubin_min           9407    0.919191
4      h1_albumin_min           9365    0.915087
..                ...            ...         ...
154     d1_diasbp_max             23    0.002247
155      d1_sysbp_min             23    0.002247
156      d1_sysbp_max             23    0.002247
157     d1_diasbp_min             23    0.002247
158            gender              5    0.000489

[159 rows x 3 columns]
           column_name  num_miss_rows  miss_ratio
0       h1_lactate_max           9421    0.920559
1       h1_lactate_min           9421    0.920559
2     h1_bilirubin_max           9407    0.919191
3     h1_bilirubin_min           9407    0.919191
4       h1_albumin_min           9365    0.915087
..                 ...            ...         ...
69    d1_bilirubin_min           5860    0.572601
70    d1_bilirubin_max           5860    0.572601
71      d1_albumin_min           5540    0.541333
72      d1_albumin_max           5540    0.541333
73  urineoutput_apache           5190    0.507133

[74 rows x 3 columns]

In [38]:
# train and test set with same missing ratios?
set(tr_missing.loc[tr_missing.miss_ratio > .5].column_name).\
difference(set(te_missing.loc[te_missing.miss_ratio > .5].column_name))

set(te_missing.loc[te_missing.miss_ratio > .5].column_name).\
difference(set(tr_missing.loc[tr_missing.miss_ratio > .5].column_name))

tr_missing.loc[tr_missing.column_name=='urineoutput_apache']
te_missing.loc[tr_missing.column_name=='urineoutput_apache']

           column_name  num_miss_rows  miss_ratio
73  urineoutput_apache           5190    0.507133

In [39]:
# since missing ratios are very similar => drop all columns with missing ratio upto 50%
drop_columns = te_missing.loc[te_missing.miss_ratio > .5].column_name.values
df_tr = df_tr.drop(columns = drop_columns, inplace=False)
df_te = df_te.drop(columns = drop_columns, inplace=False)

df_tr.shape
df_te.shape

(10234, 105)

### drop hospital_id

-due to distribution difference

In [40]:
df_tr = df_tr.drop(columns=['hospital_id'], inplace=False)
df_te = df_te.drop(columns=['hospital_id'], inplace=False)

### Readmission status have 1 unique value for all dataset => drop

In [41]:
df_tr.readmission_status.nunique()
tr_missing.loc[tr_missing.column_name=='readmission_status']
df_tr.readmission_status.unique()
df_te.readmission_status.unique()

array([0])

In [42]:
df_tr = df_tr.drop(columns=['readmission_status'], inplace=False)
df_te = df_te.drop(columns=['readmission_status'], inplace=False)

## Combine two

In [43]:
set(df_tr.columns).difference(set(df_te.columns))
set(df_te.columns).difference(set(df_tr.columns))

set()

In [44]:
df_te['diabetes_mellitus'] = np.nan
df_tr['split_type'] = 'train'
df_te['split_type'] = 'test'

In [45]:
df_t = pd.concat([df_tr, df_te])
df_t.columns
df_t.shape
df_t.head()

   encounter_id   age  ...  diabetes_mellitus  split_type
0        214826  68.0  ...                1.0       train
1        246060  77.0  ...                1.0       train
2        276985  25.0  ...                0.0       train
3        262220  81.0  ...                0.0       train
4        201746  19.0  ...                0.0       train

[5 rows x 105 columns]

## Categorical encoding
- Label Encoding : assign label to a unique integer
- OneHot Encoding : creating dummy variables

In [46]:
df_t.dtypes.unique()
df_t.dtypes.loc[df_tr.dtypes=='O']

ethnicity                object
gender                   object
hospital_admit_source    object
icu_admit_source         object
icu_stay_type            object
icu_type                 object
split_type               object
dtype: object

In [47]:
cat_cols = list(df_t.dtypes.loc[df_t.dtypes=='O'].index.values)
cat_cols.append('apache_2_diagnosis')
cat_cols.append('apache_3j_diagnosis')
cat_cols.remove('split_type')
print(cat_cols)

['ethnicity', 'gender', 'hospital_admit_source', 'icu_admit_source', 'icu_stay_type', 'icu_type', 'apache_2_diagnosis', 'apache_3j_diagnosis']

In [48]:
df_t = pd.get_dummies(df_t, prefix=cat_cols, columns=cat_cols)

In [49]:
df_t.head()

   encounter_id   age  ...  apache_3j_diagnosis_2201.04  apache_3j_diagnosis_2201.05
0        214826  68.0  ...                            0                            0
1        246060  77.0  ...                            0                            0
2        276985  25.0  ...                            0                            0
3        262220  81.0  ...                            0                            0
4        201746  19.0  ...                            0                            0

[5 rows x 582 columns]

In [50]:
df_t.columns

Index(['encounter_id', 'age', 'bmi', 'elective_surgery', 'height', 'icu_id',
       'pre_icu_los_days', 'weight', 'apache_post_operative', 'arf_apache',
       ...
       'apache_3j_diagnosis_1903.02', 'apache_3j_diagnosis_1903.03',
       'apache_3j_diagnosis_1904.01', 'apache_3j_diagnosis_2101.01',
       'apache_3j_diagnosis_2101.03', 'apache_3j_diagnosis_2201.01',
       'apache_3j_diagnosis_2201.02', 'apache_3j_diagnosis_2201.03',
       'apache_3j_diagnosis_2201.04', 'apache_3j_diagnosis_2201.05'],
      dtype='object', length=582)

### 2. Data imputation

- Possible approaches : mean, KNN, soft_impute, MICE, iterative_SVD

In [51]:
# TODO apply normalized imputation?
# SimpleFill, SoftImpute, IterativeSVD, MatrixFactorization, NuclearNormMinimization, BiScaler
def impute_data(df_t, impt_type):
    if impt_type =='mice':
        imputer = IterativeImputer()
    elif impt_type == 'knn':
        imputer = KNN(orientation='columns')
    elif impt_type == 'mean':
        imputer = SimpleFill("mean")
    elif impt_type == 'soft_impute':
        imputer = SoftImpute()

    return imputer.fit_transform(df_t)

In [52]:
list(filter(lambda x: x.find('split')>=0, df_t.columns))

['split_type']

In [53]:
impute_cols = list(df_t.columns.values)
impute_cols.remove('diabetes_mellitus')
impute_cols.remove('encounter_id')
impute_cols.remove('split_type')

impt_t = impute_data(df_t[impute_cols], 'mean')

In [54]:
df_impt_t = pd.DataFrame(impt_t)
df_impt_t.columns = impute_cols
df_impt_t.head()

    age        bmi  ...  apache_3j_diagnosis_2201.04  apache_3j_diagnosis_2201.05
0  68.0  22.732803  ...                          0.0                          0.0
1  77.0  27.421875  ...                          0.0                          0.0
2  25.0  31.952749  ...                          0.0                          0.0
3  81.0  22.635548  ...                          0.0                          0.0
4  19.0  29.110683  ...                          0.0                          0.0

[5 rows x 579 columns]

In [55]:
df_impt_t.shape
len(impute_cols)

579

In [56]:
df_impt_t['encounter_id'] = df_t.encounter_id.values
df_impt_t['diabetes_mellitus'] = df_t.diabetes_mellitus.values
df_impt_t['split_type'] = df_t.split_type.values
df_impt_t = df_impt_t.reset_index(inplace=False, drop=True)
df_impt_t.head()

    age        bmi  ...  diabetes_mellitus  split_type
0  68.0  22.732803  ...                1.0       train
1  77.0  27.421875  ...                1.0       train
2  25.0  31.952749  ...                0.0       train
3  81.0  22.635548  ...                0.0       train
4  19.0  29.110683  ...                0.0       train

[5 rows x 582 columns]

In [57]:
cols = list(df_impt_t.columns)
cols.remove('split_type')

In [58]:
list(filter(lambda x: x=='split_type', df_impt_t.columns))

['split_type']

In [59]:
tr = df_impt_t.loc[df_impt_t['split_type']=='train']
tr = tr.drop(columns='split_type', inplace=False)

te = df_impt_t.loc[df_impt_t['split_type']=='test']
te = te.drop(columns=['split_type', 'diabetes_mellitus'], inplace=False)

In [60]:
tr.to_parquet('/content/drive/MyDrive/dataset/dummy_noscale_train.parquet')
te.to_parquet('/content/drive/MyDrive/dataset/dummy_noscale_test.parquet')

### 3. Scaling

In [61]:
# TODO : different scalers?
def scale_data(mx_t, scl_type='minmax'):
    if scl_type == 'minmax':
        scaler = MinMaxScaler()
    return scaler.fit_transform(mx_t)

In [62]:
cols = list(df_impt_t.columns)
for cat in ['diabetes_mellitus', 'ethnicity', 'gender', 'hospital_admit_source', 'icu_admit_source', 'icu_stay_type', 
            'icu_type', 'apache_2_diagnosis', 'apache_3j_diagnosis', 'encounter_id']:
    relevent_cols = list(filter(lambda x: x.find(cat)>=0, cols))
    print(relevent_cols)
    if len(relevent_cols) > 0:
        for r in relevent_cols:
            cols.remove(r)
df_impt_t[cols]

['diabetes_mellitus']
['ethnicity_African American', 'ethnicity_Asian', 'ethnicity_Caucasian', 'ethnicity_Hispanic', 'ethnicity_Native American', 'ethnicity_Other/Unknown']
['gender_F', 'gender_M']
['hospital_admit_source_Acute Care/Floor', 'hospital_admit_source_Chest Pain Center', 'hospital_admit_source_Direct Admit', 'hospital_admit_source_Emergency Department', 'hospital_admit_source_Floor', 'hospital_admit_source_ICU', 'hospital_admit_source_ICU to SDU', 'hospital_admit_source_Observation', 'hospital_admit_source_Operating Room', 'hospital_admit_source_Other', 'hospital_admit_source_Other Hospital', 'hospital_admit_source_Other ICU', 'hospital_admit_source_PACU', 'hospital_admit_source_Recovery Room', 'hospital_admit_source_Step-Down Unit (SDU)']
['icu_admit_source_Accident & Emergency', 'icu_admit_source_Floor', 'icu_admit_source_Operating Room / Recovery', 'icu_admit_source_Other Hospital', 'icu_admit_source_Other ICU']
['icu_stay_type_admit', 'icu_stay_type_readmit', 'icu_stay_type_transfer']
['icu_type_CCU-CTICU', 'icu_type_CSICU', 'icu_type_CTICU', 'icu_type_Cardiac ICU', 'icu_type_MICU', 'icu_type_Med-Surg ICU', 'icu_type_Neuro ICU', 'icu_type_SICU']
['apache_2_diagnosis_101.0', 'apache_2_diagnosis_102.0', 'apache_2_diagnosis_103.0', 'apache_2_diagnosis_104.0', 'apache_2_diagnosis_105.0', 'apache_2_diagnosis_106.0', 'apache_2_diagnosis_107.0', 'apache_2_diagnosis_108.0', 'apache_2_diagnosis_109.0', 'apache_2_diagnosis_110.0', 'apache_2_diagnosis_112.0', 'apache_2_diagnosis_113.0', 'apache_2_diagnosis_114.0', 'apache_2_diagnosis_115.0', 'apache_2_diagnosis_116.0', 'apache_2_diagnosis_117.0', 'apache_2_diagnosis_118.0', 'apache_2_diagnosis_119.0', 'apache_2_diagnosis_120.0', 'apache_2_diagnosis_121.0', 'apache_2_diagnosis_122.0', 'apache_2_diagnosis_123.0', 'apache_2_diagnosis_124.0', 'apache_2_diagnosis_202.0', 'apache_2_diagnosis_203.0', 'apache_2_diagnosis_207.0', 'apache_2_diagnosis_208.0', 'apache_2_diagnosis_209.0', 'apache_2_diagnosis_212.0', 'apache_2_diagnosis_213.0', 'apache_2_diagnosis_214.0', 'apache_2_diagnosis_215.0', 'apache_2_diagnosis_216.0', 'apache_2_diagnosis_217.0', 'apache_2_diagnosis_218.0', 'apache_2_diagnosis_219.0', 'apache_2_diagnosis_301.0', 'apache_2_diagnosis_302.0', 'apache_2_diagnosis_303.0', 'apache_2_diagnosis_304.0', 'apache_2_diagnosis_305.0', 'apache_2_diagnosis_306.0', 'apache_2_diagnosis_307.0', 'apache_2_diagnosis_308.0']
['apache_3j_diagnosis_0.01', 'apache_3j_diagnosis_0.02', 'apache_3j_diagnosis_0.03', 'apache_3j_diagnosis_0.04', 'apache_3j_diagnosis_0.06', 'apache_3j_diagnosis_0.09', 'apache_3j_diagnosis_0.1', 'apache_3j_diagnosis_0.11', 'apache_3j_diagnosis_0.13', 'apache_3j_diagnosis_0.14', 'apache_3j_diagnosis_0.15', 'apache_3j_diagnosis_0.18', 'apache_3j_diagnosis_0.19', 'apache_3j_diagnosis_0.2', 'apache_3j_diagnosis_0.21', 'apache_3j_diagnosis_0.22', 'apache_3j_diagnosis_0.23', 'apache_3j_diagnosis_0.24', 'apache_3j_diagnosis_0.25', 'apache_3j_diagnosis_101.01', 'apache_3j_diagnosis_101.02', 'apache_3j_diagnosis_102.01', 'apache_3j_diagnosis_102.02', 'apache_3j_diagnosis_103.01', 'apache_3j_diagnosis_104.01', 'apache_3j_diagnosis_105.01', 'apache_3j_diagnosis_105.02', 'apache_3j_diagnosis_106.01', 'apache_3j_diagnosis_107.01', 'apache_3j_diagnosis_108.01', 'apache_3j_diagnosis_109.01', 'apache_3j_diagnosis_109.02', 'apache_3j_diagnosis_109.03', 'apache_3j_diagnosis_109.04', 'apache_3j_diagnosis_109.05', 'apache_3j_diagnosis_109.06', 'apache_3j_diagnosis_109.07', 'apache_3j_diagnosis_109.08', 'apache_3j_diagnosis_109.09', 'apache_3j_diagnosis_109.1', 'apache_3j_diagnosis_109.11', 'apache_3j_diagnosis_109.12', 'apache_3j_diagnosis_109.13', 'apache_3j_diagnosis_109.14', 'apache_3j_diagnosis_109.15', 'apache_3j_diagnosis_109.16', 'apache_3j_diagnosis_110.01', 'apache_3j_diagnosis_111.01', 'apache_3j_diagnosis_201.01', 'apache_3j_diagnosis_202.01', 'apache_3j_diagnosis_203.01', 'apache_3j_diagnosis_204.01', 'apache_3j_diagnosis_206.01', 'apache_3j_diagnosis_207.01', 'apache_3j_diagnosis_208.01', 'apache_3j_diagnosis_209.01', 'apache_3j_diagnosis_210.01', 'apache_3j_diagnosis_210.02', 'apache_3j_diagnosis_211.01', 'apache_3j_diagnosis_211.02', 'apache_3j_diagnosis_211.03', 'apache_3j_diagnosis_211.04', 'apache_3j_diagnosis_211.05', 'apache_3j_diagnosis_211.06', 'apache_3j_diagnosis_211.07', 'apache_3j_diagnosis_211.08', 'apache_3j_diagnosis_211.09', 'apache_3j_diagnosis_211.1', 'apache_3j_diagnosis_211.11', 'apache_3j_diagnosis_211.12', 'apache_3j_diagnosis_212.01', 'apache_3j_diagnosis_212.02', 'apache_3j_diagnosis_213.01', 'apache_3j_diagnosis_301.01', 'apache_3j_diagnosis_301.02', 'apache_3j_diagnosis_301.03', 'apache_3j_diagnosis_301.04', 'apache_3j_diagnosis_303.01', 'apache_3j_diagnosis_305.01', 'apache_3j_diagnosis_305.02', 'apache_3j_diagnosis_306.01', 'apache_3j_diagnosis_307.01', 'apache_3j_diagnosis_307.02', 'apache_3j_diagnosis_307.03', 'apache_3j_diagnosis_307.04', 'apache_3j_diagnosis_307.05', 'apache_3j_diagnosis_308.01', 'apache_3j_diagnosis_309.01', 'apache_3j_diagnosis_310.01', 'apache_3j_diagnosis_311.01', 'apache_3j_diagnosis_312.01', 'apache_3j_diagnosis_312.02', 'apache_3j_diagnosis_312.03', 'apache_3j_diagnosis_312.04', 'apache_3j_diagnosis_312.05', 'apache_3j_diagnosis_313.01', 'apache_3j_diagnosis_313.02', 'apache_3j_diagnosis_313.03', 'apache_3j_diagnosis_313.04', 'apache_3j_diagnosis_313.05', 'apache_3j_diagnosis_401.01', 'apache_3j_diagnosis_402.01', 'apache_3j_diagnosis_402.02', 'apache_3j_diagnosis_403.01', 'apache_3j_diagnosis_404.01', 'apache_3j_diagnosis_404.02', 'apache_3j_diagnosis_404.03', 'apache_3j_diagnosis_405.01', 'apache_3j_diagnosis_406.01', 'apache_3j_diagnosis_406.02', 'apache_3j_diagnosis_406.03', 'apache_3j_diagnosis_406.04', 'apache_3j_diagnosis_407.01', 'apache_3j_diagnosis_408.01', 'apache_3j_diagnosis_408.02', 'apache_3j_diagnosis_408.03', 'apache_3j_diagnosis_409.01', 'apache_3j_diagnosis_409.02', 'apache_3j_diagnosis_410.01', 'apache_3j_diagnosis_501.01', 'apache_3j_diagnosis_501.02', 'apache_3j_diagnosis_501.03', 'apache_3j_diagnosis_501.04', 'apache_3j_diagnosis_501.05', 'apache_3j_diagnosis_501.06', 'apache_3j_diagnosis_502.01', 'apache_3j_diagnosis_601.01', 'apache_3j_diagnosis_601.02', 'apache_3j_diagnosis_601.03', 'apache_3j_diagnosis_601.04', 'apache_3j_diagnosis_601.05', 'apache_3j_diagnosis_601.06', 'apache_3j_diagnosis_601.07', 'apache_3j_diagnosis_601.08', 'apache_3j_diagnosis_602.01', 'apache_3j_diagnosis_602.02', 'apache_3j_diagnosis_602.03', 'apache_3j_diagnosis_602.04', 'apache_3j_diagnosis_602.05', 'apache_3j_diagnosis_602.06', 'apache_3j_diagnosis_602.07', 'apache_3j_diagnosis_602.08', 'apache_3j_diagnosis_602.09', 'apache_3j_diagnosis_602.1', 'apache_3j_diagnosis_602.11', 'apache_3j_diagnosis_602.12', 'apache_3j_diagnosis_602.13', 'apache_3j_diagnosis_602.14', 'apache_3j_diagnosis_602.15', 'apache_3j_diagnosis_602.16', 'apache_3j_diagnosis_602.17', 'apache_3j_diagnosis_602.18', 'apache_3j_diagnosis_602.19', 'apache_3j_diagnosis_602.2', 'apache_3j_diagnosis_602.21', 'apache_3j_diagnosis_603.01', 'apache_3j_diagnosis_604.01', 'apache_3j_diagnosis_604.02', 'apache_3j_diagnosis_604.03', 'apache_3j_diagnosis_604.04', 'apache_3j_diagnosis_604.05', 'apache_3j_diagnosis_604.06', 'apache_3j_diagnosis_605.01', 'apache_3j_diagnosis_701.01', 'apache_3j_diagnosis_701.02', 'apache_3j_diagnosis_702.01', 'apache_3j_diagnosis_703.01', 'apache_3j_diagnosis_703.02', 'apache_3j_diagnosis_703.03', 'apache_3j_diagnosis_704.01', 'apache_3j_diagnosis_704.02', 'apache_3j_diagnosis_704.04', 'apache_3j_diagnosis_704.05', 'apache_3j_diagnosis_704.06', 'apache_3j_diagnosis_704.07', 'apache_3j_diagnosis_704.08', 'apache_3j_diagnosis_704.09', 'apache_3j_diagnosis_704.1', 'apache_3j_diagnosis_704.11', 'apache_3j_diagnosis_801.01', 'apache_3j_diagnosis_801.02', 'apache_3j_diagnosis_801.03', 'apache_3j_diagnosis_801.04', 'apache_3j_diagnosis_802.01', 'apache_3j_diagnosis_802.02', 'apache_3j_diagnosis_802.03', 'apache_3j_diagnosis_802.04', 'apache_3j_diagnosis_802.05', 'apache_3j_diagnosis_802.06', 'apache_3j_diagnosis_802.07', 'apache_3j_diagnosis_802.08', 'apache_3j_diagnosis_802.09', 'apache_3j_diagnosis_901.01', 'apache_3j_diagnosis_901.02', 'apache_3j_diagnosis_901.03', 'apache_3j_diagnosis_901.04', 'apache_3j_diagnosis_901.05', 'apache_3j_diagnosis_901.06', 'apache_3j_diagnosis_901.07', 'apache_3j_diagnosis_902.01', 'apache_3j_diagnosis_903.01', 'apache_3j_diagnosis_1101.01', 'apache_3j_diagnosis_1101.02', 'apache_3j_diagnosis_1101.03', 'apache_3j_diagnosis_1101.04', 'apache_3j_diagnosis_1101.05', 'apache_3j_diagnosis_1101.06', 'apache_3j_diagnosis_1101.07', 'apache_3j_diagnosis_1101.09', 'apache_3j_diagnosis_1102.01', 'apache_3j_diagnosis_1202.01', 'apache_3j_diagnosis_1202.02', 'apache_3j_diagnosis_1202.03', 'apache_3j_diagnosis_1202.04', 'apache_3j_diagnosis_1202.05', 'apache_3j_diagnosis_1202.06', 'apache_3j_diagnosis_1202.07', 'apache_3j_diagnosis_1202.08', 'apache_3j_diagnosis_1203.01', 'apache_3j_diagnosis_1203.02', 'apache_3j_diagnosis_1204.01', 'apache_3j_diagnosis_1204.02', 'apache_3j_diagnosis_1205.01', 'apache_3j_diagnosis_1206.01', 'apache_3j_diagnosis_1206.03', 'apache_3j_diagnosis_1207.01', 'apache_3j_diagnosis_1207.02', 'apache_3j_diagnosis_1207.03', 'apache_3j_diagnosis_1208.01', 'apache_3j_diagnosis_1208.02', 'apache_3j_diagnosis_1208.03', 'apache_3j_diagnosis_1208.04', 'apache_3j_diagnosis_1208.05', 'apache_3j_diagnosis_1208.06', 'apache_3j_diagnosis_1208.07', 'apache_3j_diagnosis_1208.08', 'apache_3j_diagnosis_1208.09', 'apache_3j_diagnosis_1208.1', 'apache_3j_diagnosis_1208.11', 'apache_3j_diagnosis_1208.12', 'apache_3j_diagnosis_1208.13', 'apache_3j_diagnosis_1208.14', 'apache_3j_diagnosis_1208.15', 'apache_3j_diagnosis_1208.16', 'apache_3j_diagnosis_1208.17', 'apache_3j_diagnosis_1208.18', 'apache_3j_diagnosis_1209.01', 'apache_3j_diagnosis_1209.02', 'apache_3j_diagnosis_1210.01', 'apache_3j_diagnosis_1210.02', 'apache_3j_diagnosis_1211.01', 'apache_3j_diagnosis_1211.02', 'apache_3j_diagnosis_1212.01', 'apache_3j_diagnosis_1212.02', 'apache_3j_diagnosis_1212.03', 'apache_3j_diagnosis_1301.01', 'apache_3j_diagnosis_1301.02', 'apache_3j_diagnosis_1302.01', 'apache_3j_diagnosis_1302.02', 'apache_3j_diagnosis_1302.03', 'apache_3j_diagnosis_1303.01', 'apache_3j_diagnosis_1303.02', 'apache_3j_diagnosis_1304.01', 'apache_3j_diagnosis_1304.02', 'apache_3j_diagnosis_1304.03', 'apache_3j_diagnosis_1304.04', 'apache_3j_diagnosis_1304.05', 'apache_3j_diagnosis_1304.06', 'apache_3j_diagnosis_1304.07', 'apache_3j_diagnosis_1304.08', 'apache_3j_diagnosis_1304.09', 'apache_3j_diagnosis_1304.1', 'apache_3j_diagnosis_1401.01', 'apache_3j_diagnosis_1403.01', 'apache_3j_diagnosis_1403.02', 'apache_3j_diagnosis_1403.03', 'apache_3j_diagnosis_1403.04', 'apache_3j_diagnosis_1404.01', 'apache_3j_diagnosis_1405.01', 'apache_3j_diagnosis_1405.02', 'apache_3j_diagnosis_1405.03', 'apache_3j_diagnosis_1405.04', 'apache_3j_diagnosis_1405.05', 'apache_3j_diagnosis_1405.06', 'apache_3j_diagnosis_1405.07', 'apache_3j_diagnosis_1406.01', 'apache_3j_diagnosis_1407.01', 'apache_3j_diagnosis_1408.01', 'apache_3j_diagnosis_1408.02', 'apache_3j_diagnosis_1408.03', 'apache_3j_diagnosis_1408.04', 'apache_3j_diagnosis_1408.05', 'apache_3j_diagnosis_1408.06', 'apache_3j_diagnosis_1408.07', 'apache_3j_diagnosis_1408.08', 'apache_3j_diagnosis_1408.09', 'apache_3j_diagnosis_1408.1', 'apache_3j_diagnosis_1408.11', 'apache_3j_diagnosis_1408.12', 'apache_3j_diagnosis_1408.13', 'apache_3j_diagnosis_1409.01', 'apache_3j_diagnosis_1409.02', 'apache_3j_diagnosis_1410.01', 'apache_3j_diagnosis_1411.01', 'apache_3j_diagnosis_1412.01', 'apache_3j_diagnosis_1413.01', 'apache_3j_diagnosis_1413.02', 'apache_3j_diagnosis_1501.01', 'apache_3j_diagnosis_1502.01', 'apache_3j_diagnosis_1502.02', 'apache_3j_diagnosis_1503.01', 'apache_3j_diagnosis_1503.02', 'apache_3j_diagnosis_1504.01', 'apache_3j_diagnosis_1504.02', 'apache_3j_diagnosis_1504.03', 'apache_3j_diagnosis_1504.04', 'apache_3j_diagnosis_1504.05', 'apache_3j_diagnosis_1505.01', 'apache_3j_diagnosis_1505.02', 'apache_3j_diagnosis_1506.01', 'apache_3j_diagnosis_1506.02', 'apache_3j_diagnosis_1506.03', 'apache_3j_diagnosis_1506.04', 'apache_3j_diagnosis_1506.05', 'apache_3j_diagnosis_1506.06', 'apache_3j_diagnosis_1506.07', 'apache_3j_diagnosis_1506.08', 'apache_3j_diagnosis_1506.09', 'apache_3j_diagnosis_1506.1', 'apache_3j_diagnosis_1506.11', 'apache_3j_diagnosis_1601.01', 'apache_3j_diagnosis_1601.02', 'apache_3j_diagnosis_1601.03', 'apache_3j_diagnosis_1601.04', 'apache_3j_diagnosis_1601.05', 'apache_3j_diagnosis_1601.06', 'apache_3j_diagnosis_1601.08', 'apache_3j_diagnosis_1602.01', 'apache_3j_diagnosis_1602.02', 'apache_3j_diagnosis_1602.03', 'apache_3j_diagnosis_1602.04', 'apache_3j_diagnosis_1602.05', 'apache_3j_diagnosis_1602.06', 'apache_3j_diagnosis_1602.07', 'apache_3j_diagnosis_1602.08', 'apache_3j_diagnosis_1602.09', 'apache_3j_diagnosis_1602.1', 'apache_3j_diagnosis_1602.11', 'apache_3j_diagnosis_1602.12', 'apache_3j_diagnosis_1602.13', 'apache_3j_diagnosis_1602.14', 'apache_3j_diagnosis_1602.15', 'apache_3j_diagnosis_1602.16', 'apache_3j_diagnosis_1602.17', 'apache_3j_diagnosis_1602.19', 'apache_3j_diagnosis_1602.2', 'apache_3j_diagnosis_1602.21', 'apache_3j_diagnosis_1604.01', 'apache_3j_diagnosis_1604.02', 'apache_3j_diagnosis_1604.03', 'apache_3j_diagnosis_1604.04', 'apache_3j_diagnosis_1604.05', 'apache_3j_diagnosis_1605.01', 'apache_3j_diagnosis_1701.01', 'apache_3j_diagnosis_1701.02', 'apache_3j_diagnosis_1701.03', 'apache_3j_diagnosis_1701.04', 'apache_3j_diagnosis_1703.01', 'apache_3j_diagnosis_1703.02', 'apache_3j_diagnosis_1703.03', 'apache_3j_diagnosis_1703.04', 'apache_3j_diagnosis_1703.05', 'apache_3j_diagnosis_1703.06', 'apache_3j_diagnosis_1703.07', 'apache_3j_diagnosis_1703.08', 'apache_3j_diagnosis_1704.01', 'apache_3j_diagnosis_1705.02', 'apache_3j_diagnosis_1705.03', 'apache_3j_diagnosis_1705.04', 'apache_3j_diagnosis_1705.05', 'apache_3j_diagnosis_1801.01', 'apache_3j_diagnosis_1801.02', 'apache_3j_diagnosis_1802.01', 'apache_3j_diagnosis_1802.02', 'apache_3j_diagnosis_1803.01', 'apache_3j_diagnosis_1803.02', 'apache_3j_diagnosis_1902.01', 'apache_3j_diagnosis_1902.02', 'apache_3j_diagnosis_1902.03', 'apache_3j_diagnosis_1902.04', 'apache_3j_diagnosis_1902.05', 'apache_3j_diagnosis_1903.01', 'apache_3j_diagnosis_1903.02', 'apache_3j_diagnosis_1903.03', 'apache_3j_diagnosis_1904.01', 'apache_3j_diagnosis_2101.01', 'apache_3j_diagnosis_2101.03', 'apache_3j_diagnosis_2201.01', 'apache_3j_diagnosis_2201.02', 'apache_3j_diagnosis_2201.03', 'apache_3j_diagnosis_2201.04', 'apache_3j_diagnosis_2201.05']
['encounter_id']

         age        bmi  ...  solid_tumor_with_metastasis  split_type
0       68.0  22.732803  ...                          0.0       train
1       77.0  27.421875  ...                          0.0       train
2       25.0  31.952749  ...                          0.0       train
3       81.0  22.635548  ...                          0.0       train
4       19.0  29.110683  ...                          0.0       train
...      ...        ...  ...                          ...         ...
140386  36.0  37.500000  ...                          0.0        test
140387  61.0  32.100000  ...                          0.0        test
140388  74.0  22.700000  ...                          0.0        test
140389  90.0  19.900000  ...                          0.0        test
140390  30.0  25.600000  ...                          0.0        test

[140391 rows x 95 columns]

In [63]:
#print(cols)
cols.remove('split_type')
sc_impt_t = scale_data(df_impt_t[cols], 'minmax')
df_impt_t[cols] = sc_impt_t

### 4. Save

In [64]:
s_tr = df_impt_t.loc[df_impt_t['split_type']=='train']
s_tr = s_tr.drop(columns='split_type', inplace=False)

s_te = df_impt_t.loc[df_impt_t['split_type']=='test']
s_te = s_te.drop(columns=['split_type', 'diabetes_mellitus'], inplace=False)

s_tr.to_parquet('/content/drive/MyDrive/dataset/train_scale_softimpute_.parquet')
s_te.to_parquet('/content/drive/MyDrive/dataset/test_scale_softimpute_.parquet')
#s_tr.to_parquet('../dataset/train_scale_.parquet')
#s_te.to_parquet('../dataset/test_scale_.parquet')